<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="tela.Properties.Settings.SVDPMRAConnectionString"
            connectionString="Data Source=MVNS\SQLEXPRESS;Initial Catalog=SVDPMRA;User ID=sa;Password=s3cond"
            providerName="System.Data.SqlClient" />
        <add name="tela.Properties.Settings.SVDPMRAConnectionString1"
            connectionString="Data Source=MVNS\SQLEXPRESS;Initial Catalog=SVDPMRA;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>